<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Prices.css" type="text/css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lugrasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
    <section>
        <h1>The Choice Is Yours</h1>
        <p>Short and painless via Direct Purchase or cheap and convenient with a Credit Bundle.<span><br />The price depends on the required image size.</span></p>
        <div class="blocks">
            <div class="imgs-prices">
                <h1 class="header_1">Image Prices</h1>
                <p class="span_p">Price of a Base License via Direct Purchase or in Credits.</p>
                <div class="prices">
                    <div class="item">
                        <div class="size">
                            <div>
                                <p>S</p>
                                <p>Web Size</p>
                            </div>
                            <div>
                                <p>$14</p>
                                <p>5 credits</p>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <p>Suitable for electronic media from<br /> thumbnail to hero shot</p>
                                <p>0.8 Megapixel, 72 dpi</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="size">
                            <div>
                                <p>M</p>
                                <p>Print Size</p>
                            </div>
                            <div>
                                <p>$27</p>
                                <p>10 credits</p>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <p>Perfect for the design of print media up to <br /> approx. A4</p>
                                <p>4 Megapixel, 300 dpi</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="size">
                            <div>
                                <p>L</p>
                                <p>Full Size</p>
                            </div>
                            <div>
                                <p>$41</p>
                                <p>15 credits</p>
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <p>The right choice for large prints or just to<br />  stay flexible</p>
                                <p>Max. resolution, 300 dpi</p>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="span_p">For editorial use, a discount of 20% applies.</p>
            </div>

            <div class="difference">
                <div>
                    <h1>Direct Purchase</h1>
                    <p>
                        With a direct purchase only the currently desired images are paid by credit card, Paypal or bank transfer.
                        Ideal for customers with single or occasional  content requirements.
                    </p>
                </div>
                <div>
                    <h1>Credit Bundle</h1>
                    <p>
                        Price aware clients benefit from the attractive discounts of Credit packages to download their stock photos.
                        Best option for companies with large or frequent image needs.
                    </p>
                </div>
                <img src="https://assets.website-files.com/57e1344fa956136e63dcd303/5d3067c826763454c9e96d20_prices-new-on-demand-vs-dlc-divider.png" />
            </div>

            <div class="credits">
                <h1 class="header_1">Credits Bundles</h1>
                <p class="span_p">Loyalty pays off. The bigger the credit package, the higher the discount. And no worries:<span>Photocase Credits never expire !</span></p>
                <div class="credits-price">
                    <div>
                        <p>Credits</p>
                        <p>Price</p>
                        <p>Discount</p>
                    </div>
                    <div>
                        <p>25 Credits</p>
                        <p>$55</p>
                        <p>20%</p>
                        <button>Buy</button>
                    </div>
                    <div>
                        <p>50 Credits</p>
                        <p>$100</p>
                        <p>25%</p>
                        <button>Buy</button>
                    </div>
                    <div>
                        <p>100 Credits</p>
                        <p>$190</p>
                        <p>30%</p>
                        <button>Buy</button>
                    </div>
                    <div>
                        <p>250 Credits</p>
                        <p>$445</p>
                        <p>35%</p>
                        <button>Buy</button>
                    </div>
                    <div>
                        <p>500 Credits</p>
                        <p>$820</p>
                        <p>40%</p>
                        <button>Buy</button>
                    </div>
                    <div>
                        <p>1000 Credits</p>
                        <p>$1500</p>
                        <p>45%</p>
                        <button>Buy</button>
                    </div>
                </div>
            </div>

            <div class="included">
                <h1>This is included</h1>
                <div class="included-item">
                    <h1>Base License</h1>
                    <p>Images can be used worldwide and indefinitely for any number of different projects and media. Photo credits (Photographer / Photocase) are required with the base license.</p>
                </div>
                <div class="included-item">
                    <h1>Social Media</h1>
                    <p>IImages can be used in social media such as Facebook, Instagram, Twitter, etc. at no extra cost.</p>
                </div>
                <div class="included-item" style="border:0; margin-bottom:20px;">
                    <h1>Transfer of the License</h1>
                    <p>Image Licenses (Base and Extra License) can easily be distributed to third parties such as customers.</p>
                </div>
                <a>Read more about types of usage</a>
                <p style="height:40px"></p>
            </div>

            <div class="extras">
                <div class="extras-logo">
                    <p>+</p>
                </div>
                <h1>These are the Extras</h1>
                <div class="included-item extras-item">
                    <div>
                        <h1>No Proof of Copyright</h1>
                        <p>Enables the use of the image without the otherwise necessary proof of copyright (Artist / Photocase).</p>
                    </div>
                    <p>
                        €70<span>30 Credits</span>
                    </p>
                </div>
                <div class="included-item extras-item">
                    <div>
                        <h1>High Print Runs</h1>
                        <p>Allows the use of the image in print total of more than 500,000 copies.</p>
                    </div>
                    <p style="top:0px;">
                        €250<span>100 Credits</span>
                    </p>
                </div>
                <div class="included-item extras-item" style="border:0">
                    <div>
                        <h1>Merchandise and Templates</h1>
                        <p>Allows the use of the image in templates and as merchandise for resale, such as posters, mugs or T-shirts.</p>
                    </div>
                    <p>
                        €250<span>100 Credits</span>
                    </p>
                </div>
            </div>

            <div class="contact-us">
                <h1>We are here for you</h1>
                <p>If you have questions or need help,<br />feel free to get in contact.</p>
                <ul>
                    <li><a>Live Chat</a></li>
                    <li><a>info@photocase.de</a></li>
                    <li><a>+38 098 056 45 92</a></li>
                </ul>
                <p>Or via classic land mail to Photovibe Tokyo, Japan.</p>
                <a><i class="ri-instagram-line"></i></a>
                <p style="height:40px"></p>
            </div>
            <div style="height:40px"></div>
        </div>
    </section>
</body>
</html>