<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lugrasimo&display=swap" rel="stylesheet">
    <link href="stylesheet.css" type="text/css" />
</head>
<body>
    <header>
        
        <a href="/Home" target="_blank">A link</a>
    </header>
    <script>
        let a = document.querySelector("a");
    </script>
</body>
</html>