<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/Help.css" type="text/css" />
    </head>
    <body>
    <section class="helper">
        <h1>How can we help?</h1>
        <div class="search-field">
            <i class="ri-search-line"></i>
            <input placeholder="Search for a topic" />
        </div>
        <div class="learn-more">
            <div>
                <p>Using a photo</p>
                <p>Important information and useful examples for how to use our photos in your project. </p>
                <p>Learn more</p>
            </div>
            <img src="img/rocket.png" id="myphoto"/>
        </div>
        <div class="contact">
            <p>You can reach us at <span>+38 098 0564592</span> </p>
            <p>or by email at <span>info@photovibe.com</span>.</p>
        </div>
    </section>

    <section class="questions">
        <div>
            <h1>Frequently Asked Questions</h1>
            <div class="item">
                <h1>First Steps</h1>
                <div>
                    <h2>What is Photovibe?</h2>
                    <div>
                        <p>
                            Photovibe is an image agency for progressive, authentic and creative stock photography.
                            The meticulously selected portfolio offers a refreshing alternative to conventional stock photography. For Photovibe it is
                            important to deal fairly with the entire ecosystem of the stock agency, with colleagues, customers and artists. This is not a
                            marketing gimmick, but our conviction.
                        </p>
                        <p>
                            For orientation: On the page "About Photovibe" general information about Photovibe, can be found, about our values
                            and our principle of offering strictly curated stock photos at fair prices. Further information on costs is being detailed on the
                            <a>"Prices"</a> page.
                        </p>
                        <p>And here are the <a>"Images"</a>.</p>
                    </div>
                </div>
                <div>
                    <h2>How do I log in after forgetting the password?</h2>
                    <div>
                        <p>
                            Just click <a>here</a> and enter the e-mail address that was registered with Photovibe. You will then receive an e-mail with a reset link.
                        </p>
                    </div>
                </div>
                <div>
                    <h2>How do I log in after forgetting the user name?</h2>
                    <div>
                        <p>Don't panic! You can use your e-mail address instead.</p>
                    </div>
                </div>
                <div>
                    <h2>How do I contact Photovibe?</h2>
                    <div>
                        <p>
                            For questions about image usage, licences and prices, you best reach out to us using the chat tool located in the bottom
                            right corner of the screen, by e-mail to info@photovibe.com  or by phone +38 098 0564592.
                        </p>
                    </div>
                </div>
                <div>
                    <h2>How do I sell my images on Photovibe?</h2>
                    <div>
                        <p>
                            You came out at the wrong end of the right place. On the page <a>"Information for Artists"</a>you can find information on how
                            to upload and sell pictures at Photovibe. In addition, you can find out what motifs are being searched for, what technical
                            and legal requirements the photos must meet and what can be earned at Photocase. There is also a separate <a>artists FAQ</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="item" style="margin-top:50px;">
                <h1>Finding and organising photos</h1>
                <div>
                    <h2>How does the search work?</h2>
                    <div>
                        <p>
                            Most people search with keywords by describing the desired motif with one or two keywords. If necessary, the search results can be further refined
                            by using filters or the professional search. For example, filters can be used to display only those images that depict people or those photos that
                            are approved for sensitive topics such as religion, politics, pharmaceuticals, etc.
                        </p>
                        <p>
                            Alternatively and a true source of inspiration is the image search via <a>"Galleries"</a>, presenting the best photos on popular and current topics.
                        </p>
                    </div>
                </div>
                <div>
                    <h2>What is a lightbox?</h2>
                    <div>
                        <p>
                            The name lightbox is derived from the light tables used in the past to view slides in editorial offices. Interesting photos can be collected in a lightbox
                            before the final selection is made. To do this, simply click on the pin symbol that appears under each image.
                        </p>
                        <p>
                            Lightboxes are the appropriate tool to make a professional image selection. With the help of a lightbox, a selection of photos on a specific topic
                            or project can be compiled, organised and edited together with collaborators or shared in social media. You can always access your lightboxes by clicking
                            the file icon in the header navigation.
                        </p>
                    </div>
                </div>
                <div>
                    <h2>What are sensitive topics?</h2>
                    <div>
                        <p>
                            The use of images for sensitive topics such as religion or politics is excluded by most image agencies. However, Photocase has made arrangements
                            with the artists, so that a large part of the collection actually can be used for these controversial but important themes..
                        </p>
                        <p>
                            The use in connection with sensitive topics is always possible, provided that the consent of the artist has been obtained. The existence of this consent
                            can be viewed in the image information on the product detail page. Simply call up the desired image and scroll down in the tab "Information" to the
                            sensitive topics. Furthermore, these sensitive topics can already be filtered during an image search, so that only images for which a sensitive topic has
                            been approved are displayed.
                        </p>
                    </div>
                </div>
            </div>

            <div class="item" style="margin-top:50px;">
                <h1>Buying Images</h1>
                <div>
                    <h2>How do I buy an image?</h2>
                    <div>
                        <p>
                            The matching photo was found. Now simply select the desired <a>image size</a>, move it to the shopping cart and proceed to the checkout. Please choose
                            a method of <a>payment</a> and download the photo directly after you have paid for it. On the <a>Downloads</a> page you can view and manage all purchased
                            images and download them again if required.
                        </p>
                        <p>
                            The corresponding invoice will be sent immediately by e-mail to the address provided during registration. On the Invoices page you can also view and
                            download the invoices later.
                        </p>
                        <p>We recommend the discounted <a>Credit</a> bundles to price-conscious customers and companies and organisations with regular or large image requirements.</p>
                    </div>
                </div>
                <div>
                    <h2>What is the price of a Photo?</h2>
                    <div>
                        <p>
                            The price of an image depends on the size of the photo and any extended licenses that might be required. More information can be found on the
                            <a>"Prices"</a> page.
                        </p>
                        <p>
                            Lightboxes are the appropriate tool to make a professional image selection. With the help of a lightbox, a selection of photos on a specific topic
                            or project can be compiled, organised and edited together with collaborators or shared in social media. You can always access your lightboxes by clicking
                            the file icon in the header navigation.
                        </p>
                    </div>
                </div>
                <div>
                    <h2>How do I pay</h2>
                    <div>
                        <p>
                            At Photocase you can pay by credit card (Visa and Mastercard) or with Paypal. In both cases, you will receive a proper invoice with VAT (if applicable).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var mainlink = document.querySelector(".learn-more");
        document.querySelector("body").addEventListener("mouseover", function () {
            if (document.querySelector("body").matches(":hover") && mainlink.matches(":hover")) {
                document.querySelector("#myphoto").src = "img/rocket2.png";
            }
            else {
                document.querySelector("#myphoto").src = "/img/rocket.png";
            }
        });
        var items = document.querySelectorAll(".item h2");
        var prgrphs = document.querySelectorAll(".item > div > div");

        var bools = new Array(prgrphs.length).fill(true);
        for (let i = 0; i < items.length; i++) {
            items[i].addEventListener("click", function () {
                bools[i] == bools[i] ? true : false;
                prgrphs[i].style.display = bools[i] ? "block" : "none";
                bools[i] = !bools[i];
            });
        }

        var input = document.querySelector("input");
        input.addEventListener("input", function () {
            var letters = input.value;
            var pr = document.querySelectorAll(".item > div > div > p");

            for (let i = 0; i < pr.length; i++) {
                var highlightedtext = pr[i].textContent.replaceAll(letters, "<span class='highlight'>" + letters + "</span>");
                pr[i].innerHTML = highlightedtext;
                var span = pr[i].querySelector("span");
                if (pr[i].contains(span)) {
                    pr[i].parentNode.style.display = "block";
                    document.querySelector(".learn-more").style.display = "none";
                    document.querySelector(".contact").style.display = "none";
                    document.querySelector(".helper").style.paddingBottom = "150px";
                }
                else
                    pr[i].parentNode.style.display = "none";
            }
            if (input.value == "") {
                document.querySelector(".learn-more").style.display = "block";
                document.querySelector(".contact").style.display = "block";
                document.querySelector(".helper").style.paddingBottom = "0px";
                for (i of prgrphs) {
                    i.style.display = "none";
                }
            }
        });
    </script>
    </body>
</html>