* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "Helvetica";
    src: url("C:\Users\1\Desktop\C#\JavaScript\Fonts\Helvetica.ttf") format('ttf');
}

.helper
{
    background-image:url("https://images.vexels.com/content/77206/preview/elegant-lines-curves-abstract-background-d7bfc1.png");
    background-size:cover;
    background-repeat:no-repeat;
    padding:40px 20% 0px 20%;
}

.helper > h1
{
    color:white;
    font-family:'Raleway', sans-serif;
    font-size:35px;
    text-align:center;
}

.search-field
{
    margin-top:20px;
}

.search-field > input
{
    height:50px;
    width:60%;
    padding:5px 10px 5px 50px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:25px;
    border:0;
    font-size:15px;
    outline:none;
    margin-left:18%;
}

.search-field > i
{
    font-size:25px;
    position:relative;
    right:-22.5%;
    top:3px;
    color:gray;
    cursor:pointer;
}

.learn-more
{
    padding:30px;
    background-color:#347fd5;
    margin-top:30px;
    width:100%;
}

.learn-more:hover
{
    background-color:#4790e4;
    cursor:pointer;
}

.learn-more > div
{
        display:inline-block;
}

.learn-more >  div > p, .contact > p
{
    font-family:'Barlow', sans-serif;
    color:white;
}

.learn-more > div > p:first-of-type
{
    font-size:20px;
    margin-bottom:20px;
}

.learn-more >  div > p:nth-of-type(2)
{
    font-size:16px;
    margin-bottom:20px;
}

.learn-more >  div > p:nth-of-type(3)
{
    font-size:15px;
    margin-bottom:20px;
    text-decoration:underline;
    font-weight:700;
}

.learn-more >  img
{
    display:inline-block;
    width:100px;
    height:100px;
    float:right;
    margin-right:40px;
    margin-top:10px;
}

.contact
{
    margin-top:40px;
    margin-bottom:40px;
    padding-bottom:200px;
}

.contact > p
{
    font-size:23px;
    margin-bottom:5px;
    text-align:center;
}

.contact > p > span
{
    color:#dba935;
    cursor:pointer;
}

.contact > p > span:hover
{
    color:#deb554;
}

.questions
{
    background-color:#f5f5f5;
    padding:40px 30px 20px 30px;
    margin:40px 20% 0px 20%;
    margin-top:-150px;
}

.questions > div > h1
{
    font-size:40px;
    color:#1d2a65;
    text-align:center;
    margin-bottom:60px;
    font-weight:400;
    word-spacing:2px;
    letter-spacing:3px;
}

.item
{

}

.item *
{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item > h1
{
    text-align:center;
    font-size:30px;
    color:#1d2a65;
    font-weight:400;
    border-bottom:1px solid black;
    padding-bottom:20px;
}

.item > div
{
    border-bottom:1px solid black;
}

.item > div > h2
{
    margin-top:15px;
    padding-bottom:15px;
    font-weight:500;
    font-size:20px;
}

.item > div > h2:hover
{
    text-decoration:underline;
    cursor:pointer;
}

.item > div > div
{
     display:none;
     animation:appear 1s forwards;
}

@keyframes appear
{
    from{
        height:0px;
        opacity:0;
    }
    to
    {
        height:auto;
        opacity:1;
    }
}

.item > div > div > p
{
    font-size:17px;
    font-weight:300;
    font-family:'Barlow', sans-serif;
    word-spacing:2px;
    line-height:25px;
}

.item > div > div > p:nth-of-type(2)
{
    margin-top:7px;
}

.item > div > div > p:last-of-type
{
    margin-top:10px;
    padding-bottom:30px;
}

.item > div > div > p > a
{
    color:#189ec4;
    cursor:pointer;
}

.item > div > div > p > a:hover
{
    text-decoration:underline;
}

.highlight
{
    background-color:yellow;
}