<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Signing.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        Layout = "_Layout";
    }
    <div class="login-window">
        <div class="links-l-r">
            <img src="https://w7.pngwing.com/pngs/188/439/png-transparent-attack-on-titan-recon-corps-logo-a-o-t-wings-of-freedom-eren-yeager-attack-on-titan-vol-9-logo-freedom-angle-cartoon-crunchyroll.png"
                 width="70" height="70" />
            <a href="/Account/Login">LOGIN</a>
            <span>/</span>
            <a href="/Account/Register">REGISTER</a>
        </div>
        <div style="height:50px; margin:0 0 -50px 0; background:transparent"></div>
        @await Component.InvokeAsync("Login")
    </div>

</body>
</html>