<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/MainPage.css" type="text/css" />
    </head>
    <body>
    <ul class="navlist">
        <li><a href="#">Photos</a></li>
        <li><a href="#">Prices</a></li>
        <li>
            <a href="#">Help</a>
            <div class="help-phone">
                <i class="ri-arrow-up-s-fill"></i>
                <p>+380 - 98  0564592</p>
            </div>
        </li>
        <li><a href="#">More</a></li>
        <li><a href="/Cart"><i class="ri-shopping-cart-fill"><span class="number">@ViewBag.Span</span></i></a></li>
        <li><a href="#">Log in</a></li>
    </ul>
    </body>
</html>